<nav class="navbar navbar-expand-md navbar-light bg-faded " style="background-color: hsl(240, 12%, 89%)">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <a class="navbar-brand" href="#">
        <img src="assets/img/logo0075.png" width="80" height="80" alt="">
    </a>

    <div class="collapse navbar-collapse"  id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >

            <!-- active -->
            <li class="nav-item" routerLinkActive="active" >
                <a class="nav-link h5"  [routerLink]="['haceteSocio']">Hacete socio</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h5" [routerLink]="['Tramites']">Tramites</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h5" [routerLink]="['Turismo']">Turismo</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h5" [routerLink]="['Delegaciones']">Delegaciones</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h5" [routerLink]="['Autoridades']">Autoridades</a>
            </li>
           <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h5" [routerLink]="['Autoconsultas']">Autoconsultas</a>
            </li>

            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link h5" [routerLink]="['login']">Login</a>
            </li>
            
        </ul>


      
    </div>
</nav>